# Write the stdout and stderr to the specified file
#LOGFILE=/dev/null

# Enable debug mode
#DEBUG=false

# Enable verbose mode
#VERBOSE=false

# FOO config switch. Set the value of the global readonly parameter
#FOO="abc"

# BAR config switch. Set the value of the global readonly parameter
#BAR="xyz"

# vi: ft=bash
